---
layout: page
permalink: /release-notes/index.html
title: Release Notes (All Projects)
description: "An archive of all release notes sorted by date."
colorbar: accent
---

{% include key.html %}

{% for page in site.categories.release-notes %}
<ul class="post-list">
  <li><article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost"><span class="vertbar colorbar-{% if page.colorbar %}{{ page.colorbar }}{% else %}accent{% endif %}"></span><a href="{{ site.url }}{{ page.url }}">{{ page.title }}<span class="entry-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %d, %Y" }}</time></span></a></article></li>
</ul>
{% endfor %}
